/**
MASAS Activity Log - Stylesheet
Updated: Oct 21, 2013
Independent Joint Copyright (c) 2012-2013 MASAS Contributors.  Published
under the Modified BSD license.  See license.txt for the full text of the license.
*/

/* Accounts for hidden area at the top under the fixed navbar */
body { padding-top: 50px; }

.entry {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    margin: 5px 3px;
    padding: 2px;
    border: 1px solid #DDDDDD;
}

.entryUnread { border: 1px solid blue; }

.entryRead { border: 1px solid #DDDDDD; }

.entryFavorite { border: 2px solid red; }

.entrySeparator { margin: 0px; padding: 0px; height: 10px; }

.author { font-weight: bold; min-height: 20px; }

.filterAuthorLoad {
    margin-top: 20px;
    border-top: 1px solid #E5E5E5;
}

.updated {
    text-align: right;
    padding-right: 5px;
    min-height: 20px;
}

.entryID {
    font-size: 80%;
    padding: 5px 5px 0px 5px;
}

.entryXML { font-size: 80%; }

.entryOverview {
    padding-left: 100px;
    font-weight: normal;
    font-size: 90%;
    color: #808080;
}

.reloading-icon {
    background-image: url("../img/activity-loading-icon.gif");
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    width: 14px;
}

#settingsMap {
    height: 175px;
    width: 300px;
    border: 1px solid black;
}

#filterInfoTitle { padding-left: 20px; padding-top: 5px; }

.filterInfoItem { padding-left: 5px; }

#filterInfoSpace { height: 15px; }

.authorListCount { padding-left: 10px; font-size: 80%; }

#activityMap {
    height: 300px;
    width: 525px;
    border: 1px solid black;
}

/* bootstrap overrides */

.well-title {
    border-radius: 2px 2px 2px 2px;
    padding: 0px 5px;
    margin-bottom: 0px;
    min-height: 20px;
    cursor: pointer;
}

.well-title-highlight { background-color: #FFFFCC; }

.container-fluid { padding-left: 5px; padding-right: 5px }

.tooltip-inner { max-width: 275px; }
